main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h3 {
  font-size: 1.4rem;
  padding: .5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: .1rem
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  margin-top: 3rem;
  position: absolute;
  bottom: 0;
}

.carousel-caption h4 {
  color: white;
}

.carousel img {
  display: block;
  max-height: 22rem;
  max-width: 75vw;
  padding: 2rem;
  margin: 2.5rem auto;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h4 {
    font-size: 2.5vw;
  }
}